In [1]:
import pandas as pd
import pyodbc
import numpy as np
import plotly.express as px
from datetime import datetime
import statsmodels.api as sm

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_columns = 50
pd.options.display.max_rows = 10

def read_query_file(fileName,extension='.sql'):
    file = open(fileName+extension,'r')
    string = file.read()
    file.close()
    return string

def timestamp():
    return datetime.now().strftime('%Y-%m-%d %I:%M:%S %p')   

def run_query(query):
    cnxn = pyodbc.connect('DSN=edp-workbench-cshub', autocommit=True)
    df = pd.read_sql_query(query,cnxn)
    cnxn.close()
    return df

In [ ]:
run_query(""" SELECT * FROM care.l3_asurion_soluto_finance_datamart_v1
           LIMIT 10 """)

In [ ]:
run_query(""" 
    SELECT
        eh.expert_id as "Employee",
        eh.tenure_group as "TenureGroup"
    FROM
        hive.care.l3_asurion_whole_home_expert_hierarchy eh
    WHERE 1=1
        AND UPPER(eh.business_unit) = 'PSS'
        --AND lower(eh.site_name) LIKE '%glowzilla%'
        AND CURRENT_DATE BETWEEN eh.eff_start_dt and eh.eff_end_dt		 """)

In [ ]:
run_query("""
    SELECT
    *
    FROM
    hive.care.l3_asurion_whole_home_expert_hierarchy 
    LIMIT 2
           """)

In [ ]:
pd.options.display.max_rows = 50
run_query("""
    SELECT
    location,
    
    COUNT(site_name) as "COUNT"
    FROM
    hive.care.l3_asurion_whole_home_expert_hierarchy eh
    WHERE 1=1
        AND UPPER(eh.business_unit) = 'PSS'
        AND CURRENT_DATE BETWEEN eh.eff_start_dt and eh.eff_end_dt
    GROUP BY
    location
    """).sort_values("COUNT",ascending=False).head(50)

In [ ]:
pd.options.display.max_rows = 50
run_query("""
    SELECT
    *
    FROM
    hive.care.l3_asurion_helix_search_all_events 
    LIMIT 2
    """)

In [ ]:
pd.options.display.max_columns = 80
display(crm_df.columns)
display(crm_df.head(3))
pd.options.display.max_columns = 50

In [17]:
run_query("SELECT * FROM hive.care.l3_verizon_asurion_sales_platform_details LIMIT 100")

C:\Users\austen.moore\AppData\Local\Temp\ipykernel_27720\943477100.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,cnxn)

,batchid,edp_created_dttm,edp_updated_dttm,customer_session_id,expert_session_id,product_session_id,sales_date_cst,sales_dttm_cst,sales_dttm_utc,plan_id,acct_nbr,mdn,expert_id,sso_email,asurion_call_id,reservation_id,client_name,channel_name,sub_channel_name,location_id,location_name,eligibility,eligibility_flg,offer_flg,accept_flg,enrollment,enroll_flg,initial_enroll_flg,product_sku,version,source
0,1682077044,2023-02-27 22:33:47.488,2023-04-21 11:37:50.677,ffbc1960-8a30-4fd0-9591-6ebec31598e1,243f2a90-9589-4fc2-9aff-3cde96dc9e86,2f5af849-8a8c-4481-8332-82c125ee0109,2023-02-27,2023-02-27 13:09:46.093,2023-02-27 19:09:46.093,None,None,6266658257,467275,abigail.monreal@asurion.com,None,None,verizon,soluto,soluto,None,None,eligible,True,True,False,None,False,False,1614,1,asp_twilio-flex
1,1682077044,2023-02-28 01:34:31.455,2023-04-21 11:37:50.677,f9be7a4c-4368-4c78-9310-35e75958b552,640a19fe-8373-45ef-b620-3110934cb420,dc48ce54-74e5-44bb-9984-453800f28c9a,2023-02-27,2023-02-27 15:21:00.118,2023-02-27 21:21:00.118,None,None,8608771438,553479,regalado.santos@asurion.com,None,None,verizon,soluto,soluto,None,None,eligible,True,True,False,None,False,False,1614,1,asp_twilio-flex
2,1682077044,2023-02-27 17:35:25.356,2023-04-21 11:37:50.677,f7c9e4e3-0a73-4aad-8d19-d27650e9c1f4,a0060b74-ce9f-47b1-a8c3-efacfd7cca33,47b954d8-67e0-4a66-a6f5-c00b266478b7,2023-02-27,2023-02-27 07:21:37.873,2023-02-27 13:21:37.873,None,None,3306398208,538673,emilyn.suriaga@asurion.com,None,None,verizon,soluto,soluto,None,None,eligible,True,True,False,None,False,False,1614,1,asp_twilio-flex
3,1682077044,2023-02-28 02:35:17.757,2023-04-21 11:37:50.677,f6e2f4bf-21f0-4964-b981-95de21300bea,7ae031ee-023f-4771-b7c8-8e4a81cec496,0796b074-0392-4706-8cad-5af01064bd37,2023-02-27,2023-02-27 16:27:15.735,2023-02-27 22:27:15.735,None,None,9176313955,460117,divine.dumalogdog@asurion.com,None,None,verizon,soluto_chat,soluto_chat,None,None,ineligible,False,False,False,None,False,False,1614,1,asp_standalone
4,1682077044,2023-02-27 22:33:47.488,2023-04-21 11:37:50.677,f5a40541-ec34-4506-88ef-fc29d386d153,4b13cabe-8447-40a8-928f-4b58c655af18,585a3066-ee74-4609-9e88-a6fb22f37101,2023-02-27,2023-02-27 12:58:23.183,2023-02-27 18:58:23.183,None,None,5035227957,553479,regalado.santos@asurion.com,None,None,verizon,soluto,soluto,None,None,eligible,True,True,False,None,False,False,1614,1,asp_twilio-flex
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1682077044,2023-02-28 04:35:21.922,2023-04-21 11:37:50.677,5ff45b4e-ef05-4df0-8b0d-b14c355b5f28,019d08e4-6fb5-400e-90ce-3f64814fbc64,d3a836ec-f577-4f96-9ac4-7b706357af1f,2023-02-27,2023-02-27 19:09:58.060,2023-02-28 01:09:58.060,None,None,2253288186,467275,abigail.monreal@asurion.com,None,None,verizon,soluto,soluto,None,None,eligible,True,True,False,None,False,False,1614,1,asp_twilio-flex
96,1682077044,2023-02-28 07:34:27.769,2023-04-21 11:37:50.677,5fa4a195-0510-4435-a1e3-5017fffa04e9,63436158-577f-400e-9f4b-a0350d2473fe,ce93835a-bc68-4ec0-87df-c8945966e2a0,2023-02-27,2023-02-27 21:31:15.160,2023-02-28 03:31:15.160,None,None,2055636425,363079,mayjeen.quinones@asurion.com,None,None,verizon,soluto,soluto,None,None,already_enrolled,False,False,False,None,False,False,1614,1,asp_twilio-flex
97,1682077044,2023-02-28 06:34:14.353,2023-04-21 11:37:50.677,5f28b442-eebd-41eb-a74b-618432856f36,019d08e4-6fb5-400e-90ce-3f64814fbc64,207cc6da-29bd-4db9-9a65-022b253dfae9,2023-02-27,2023-02-27 21:11:23.436,2023-02-28 03:11:23.436,None,None,6234662987,467275,abigail.monreal@asurion.com,None,None,verizon,soluto,soluto,None,None,eligible,True,True,False,None,False,False,1614,1,asp_twilio-flex
98,1682077044,2023-02-27 18:34:03.363,2023-04-21 11:37:50.677,5e313a53-56f5-455a-ae63-470635d9516c,ebab57a8-e4a2-4e4d-a103-0de337a1b9b9,222f2b35-fb41-496b-831d-97a77c356429,2023-02-27,2023-02-27 08:42:16.412,2023-02-27 14:42:16.412,None,None,5163189297,537994,jordana.sanoy@asurion.com,None,None,verizon,soluto,soluto,None,None,error,False,True,False,None,False,False,1614,1,asp_twilio-flex
99,1682077044,2023-02-27 17:35:25.356,2023-04-21 11:37:50.677,5c0f76a4-57b4-44f4-86e6-feedea20d4ec,ebab57a8-e4a2-4e4d-a103-0de337a1b9b9,46e2ed50-10cd-481f-87f4-5224bb73d32d,2023-02-27,2023-02-27 07:20:31.747,2023-02-27 13:20:31.747,None,None,2543171619,537994,jordana.sanoy@asurion.com,None,None,verizon,soluto,soluto,None,None,eligible,True,True,False,None,False,False,1614,1,asp_twilio-flex

In [ ]:
pd.options.display.max_rows = 50
tables=run_query("""SELECT * FROM INFORMATION_SCHEMA.Columns WHERE column_name  like '%XP%' and table_schema = 'care' """)

In [ ]:
tables

In [33]:
sales_df = run_query(read_query_file('SQL\SolutoVoiceSP100'))

C:\Users\austen.moore\AppData\Local\Temp\ipykernel_27720\943477100.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,cnxn)

In [27]:
sales_df = run_query(read_query_file('SQL\SolutoVoiceSales'))

C:\Users\austen.moore\AppData\Local\Temp\ipykernel_27720\943477100.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,cnxn)

In [34]:
sales_df

,Employee,Date,TotalEligible,TotalOffered,TotalAccepted,TotalConfirmed,TotalThirtyDayChurn
0,457977,2023-05-07,1,1,1,1,1.00
1,576911,2023-05-26,1,1,0,0,NaN
2,572529,2023-05-31,3,3,2,2,1.00
3,589644,2023-08-07,1,1,0,0,NaN
4,482678,2023-08-18,3,3,1,1,0.00
...,...,...,...,...,...,...,...
44727,568117,2023-07-26,1,1,1,1,1.00
44728,364984,2023-07-25,1,1,1,0,NaN
44729,553480,2023-07-24,1,1,0,0,NaN
44730,502658,2023-08-17,1,1,1,1,0.00
44731,552824,2023-04-21,1,1,0,0,NaN

In [41]:
# crt_df = run_query(read_query_file('SQL\KeyMetrics_ForGroupSelection'))
display("Total Employees",len(crt_df['Employee'].unique()))
display("Null Employees",len(crt_df[crt_df['TotalAccepted'].isna()]['Employee'].unique()))
display("Total Count",len(crt_df['Employee']))
display("Null Count",len(crt_df[crt_df['TotalAccepted'].isna()]))

'Total Employees'

408

'Null Employees'

258

'Total Count'

13637

'Null Count'

6065

## Scott Meeting 8.18
### Overview so far
1. Anjali set up a ton of meetings on this going forward.
2. Idea is to setup a link to our ChatGPT clone for experts to ask questions instead of using Helix
3. Key Metrics in Order of Percieved Importance so far are
    1. CRT / Sessions Per Hour
    2. Helix/ChatGPT Clone Usage
    3. CXP
    4. SP100 
4. Steps for us so far
    1. They asked me talk about the last pilot results in the Monday Meeting
    2. Help select Test and Controll Experts
    3. Help find all the data we need to run the experiment.

### Questions for Scott
1. Finding eligible experts 
    1. Helix Usage - Has this been done before and where is it.
    2. CXP is it the same for voice and chat? If not who do I need to get with about it
2. Data build out - Talk of using timestamps instead of session ids
    1. Will it have a big effect on accuracy?
    2. Sound much more difficult
    3. Can we make a temp table of our estimated Call for Helix use? Otherwise it'll be computationally expenseive
3. Testing the Experts
    1. Building dataset with the "KeyMetrics_ForGroupSelection.SQL" I want someone to review it once its done who would be best?
    2. Planning on doing a bunch of random trials and backtesting how representative of the population I can get the expert on our key Measures. Does this make sense or do we want another method.