In [2]:
import pandas as pd
import pyodbc
import numpy as np
import plotly.express as px
from datetime import datetime
import statsmodels.api as sm

pd.options.display.float_format = '{:,.2f}'.format
pd.options.display.max_columns = 50
pd.options.display.max_rows = 100

def read_query_file(fileName):
    file = open(fileName,'r')
    string = file.read()
    file.close()
    return string

def timestamp():
    return datetime.now().strftime('%Y-%m-%d %I:%M:%S %p')   

def run_query(query):
    cnxn = pyodbc.connect('DSN=edp-workbench-cshub', autocommit=True)
    df = pd.read_sql_query(query,cnxn)
    cnxn.close()
    return df

In [ ]:
pd.options.display.max_rows = 80
table

In [ ]:
df = run_query(read_query_file("SQL\SamplingTest\KeyMetrics_ForGroupSelection"))

In [ ]:
for column in df.columns:
    display(df[df[column].isna()][column].sum())

In [12]:
cxp = run_query(read_query_file('SQL\PBIX\CXP'))
display(cxp.head(5))
# display(cxp['id'].value_counts())
display(cxp.size)
display(cxp.info())

         Date  Employee  CXP_Prob_Sum  CXP_Prob_Count
0  2023-08-25    575713         14.87              29
1  2023-06-16    395307         25.57              50
2  2023-07-05    520641          5.63              11
3  2023-06-02    470400          2.62               5
4  2023-08-01    437217          9.28              18

768368

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192092 entries, 0 to 192091
Data columns (total 4 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            192092 non-null  object
 1   Employee        192092 non-null  int64
 2   CXP_Prob_Sum    192092 non-null  float64
 3   CXP_Prob_Count  192092 non-null  int64
dtypes: float64(1), int64(2), object(1)
memory usage: 5.9+ MB

None

In [9]:
test_table_df = run_query("""SELECT * from hive.care.l1_asurion_app_analytics_eds_ml_pipeline_results ml where trans_id = '182550938' """)
display(test_table_df.columns)
display(test_table_df.head())

In [ ]:
run_query("""
SELECT 
*
FROM
care.l3_quality_insights_transactions
WHERE trans_id in ('98793274',
 '98813142',
 '98807852',
 '98804657',
 '98815467',
 '98779623',
 '98775699',
 '98764853',
 '98766663',
 '98747702',
 '98735130',
 '98806321',
 '98740709',
 '98761560',
 '98739143',
 '98755731',
 '98755019',
 '98749287',
 '98812534',
 '98821094',
 '98734256') """).sort_values('trans_id')