## Function to read json rows into a dataframe
json_df = pd.DataFrame.from_records(df['edp_raw_data_map'].apply(json.loads))

In [2]:
import  plotly.express as px
import pandas as pd
import pyodbc
import json
from datetime import datetime 

def timestamp():
    return datetime.now().strftime('%Y-%m-%d %I:%M:%S %p')
pd.options.display.max_columns = 100
pd.options.display.max_rows = 58

# Here is a function I use to read a file with a sql query
def file_to_string(fileName):
    file = open(fileName,'r')
    string = file.read()
    file.close()
    return string

# Then I use this to run the query and get the results as a dataframe
def run_query(query, dsn='edp-workbench-cshub'):
    cnxn = pyodbc.connect('DSN='+dsn, autocommit=True)
    df = pd.read_sql_query(query,cnxn)
    cnxn.close()
    return df

In [ ]:
for query in [
        # 'ExpertAssist.SQL',
        # 'Sales.SQL',
        # 'HelixSearch.SQL',
        # 'EfficiencyMetrics.SQL',
        # 'CXP.SQL'
        
        ]:
    display(query+" "+timestamp())
    display(run_query(file_to_string('SQL/'+query)).head())

In [24]:
df = run_query(file_to_string('SQL/FirstCallResolutionRate.SQL'))
df

C:\Users\austen.moore\AppData\Local\Temp\ipykernel_25172\1858826741.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,cnxn)

,Employee,Date,work_type,ResolvedFirstCall,EligibleForFirstCallResolve
0,575996,2023-09-15,PPX,10,10
1,552121,2023-06-26,PPX,7,7
2,573276,2023-09-07,PPX,11,11
3,426097,2023-07-19,PPX,9,9
4,575731,2023-09-08,Hourly,10,11
...,...,...,...,...,...
3526,569498,2023-07-26,PPX,8,9
3527,581396,2023-09-22,PPX,13,13
3528,364717,2023-08-08,PPX,19,19
3529,548646,2023-06-27,PPX,17,17
3530,548646,2023-07-15,PPX,11,11

In [22]:
test = run_query(
"""
SELECT
    --CAST(vsc.dw_agent_master_id AS BIGINT) as Employee,
    --vsc.* 
    fcr.*
FROM 
    hive.care.l3_asurion_first_call_resolution fcr 
    LEFT OUTER JOIN
    hive.care.l3_verizon_soluto_crm vsc
        ON fcr.support_session_id = vsc.support_session_id

LIMIT 100
""")
test.head()

C:\Users\austen.moore\AppData\Local\Temp\ipykernel_25172\1858826741.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,cnxn)

,support_session_id,client,cvp_call_id,client_name,contact_group,linked_support_session_id,end_call_reason,call_back_reason,start_dt,fcr_eligible,fcr_pass,fcr_window,edp_created_dttm,edp_updated_dttm,batchid
0,2c5104d8-bc59-4b8b-b28c-990aaa7874d4,Verizon,00017367811656005236,Verizon,6534571,,Select a Disposition,,2022-06-23 12:29:45.350,0,0,2022-06-26 12:29:45.350,2022-11-04 15:48:58.104,2022-11-04 15:48:58.104,1667576938
1,e992d33f-0051-4314-a600-84186c44f43a,Verizon,00017143981660856494,Verizon,6532074,,Carrier Account,,2022-08-18 16:02:56.291,1,1,2022-08-21 16:02:56.291,2022-11-04 15:48:58.104,2022-11-04 15:48:58.104,1667576938
2,55c9fd85-ed20-411f-b942-a8c674a826e3,Verizon,00017278841660835198,Verizon,6532076,,Carrier Tier 2,,2022-08-18 10:07:59.194,1,1,2022-08-21 10:07:59.194,2022-11-04 15:48:58.104,2022-11-04 15:48:58.104,1667576938
3,40ed0f26-9202-4371-925a-2b3e9df69801,Verizon,00017057141660847410,Verizon,6532108,,Select a Disposition,,2022-08-18 13:31:12.365,0,0,2022-08-21 13:31:12.365,2022-11-04 15:48:58.104,2022-11-04 15:48:58.104,1667576938
4,f1be45fb-dbaa-42f3-8751-7a26260fd146,Verizon,00017607031661978370,Verizon,6532846,,Carrier Tier 2,,2022-08-31 15:41:17.053,1,1,2022-09-03 15:41:17.053,2022-11-04 15:48:58.104,2022-11-04 15:48:58.104,1667576938

In [12]:
run_query("""SELECT """)

Empty DataFrame
Columns: [dw_soluto_crm_id, dw_date_id, dw_client_id, dw_client_channel_id, dw_agent_master_id, dw_customer_case_id, dw_subscriber_id, client_name, support_session_id, contact_id, parent_support_session_id, linked_support_session_id, linked_contact_id, contact_group, interaction_id, start_dt, end_dt, duration_sec, platform_name, channel_name, user_name, account_number_name, mdn_name, ani_name, subscriber_uuid, program_name, enrollment_status, end_call_reason, end_call_sub_reason, call_back_reason, call_back_type, call_reason, sub_reason, issue_type, issue_status, notes_desc, make_name, model_name, os_name, nick_name, call_direction_desc, contact_source_name, ivr_validation_flg, text_app_flg, connected_flg, non_connected_flg, cvp_call_id, icm_router_day, icm_router_key, tte_flg, smb_flg, account_category, account_type_name, customer_type_name, source, dw_create_dt, dw_update_dt, fcr_eligible, fcr_pass, upsell_accepted, upsell_desc, start_dt_utc, end_dt_utc, clndr_dt_cst, edp_created_dttm, edp_updated_dttm, batchid, current_persona, cancellation_request_reason_selected, cancellation_request_subreason_selected, cancellation_request_rebuttals_selected_list, rebuttalcode1, rebuttalcode2, enrollment_channel, planid, Employee]
Index: []

In [13]:
run_query("""
    SELECT
        CAST(eh.expert_id AS BIGINT) as "Employee",
        eh.tenure_group as "TenureGroup",
        eh.*,
        em.expert_full_name as "Employee Name"
    FROM
        hive.care.l3_asurion_whole_home_expert_hierarchy eh
        LEFT OUTER JOIN
        hive.care.l3_asurion_whole_home_expert_master em
            ON eh.expert_id = em.expert_id
    WHERE 1=1
        AND UPPER(eh.business_unit) = 'PSS'
        AND eh.location = 'flor'""")

C:\Users\austen.moore\AppData\Local\Temp\ipykernel_25172\1858826741.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query,cnxn)

,Employee,TenureGroup,expert_id,agent_id,eff_start_dt,eff_end_dt,supervisor_id,supervisor_first_name,supervisor_last_name,supervisor_full_name,manager_id,manager_first_name,manager_last_name,manager_full_name,senior_manager_id,senior_manager_first_name,senior_manager_last_name,senior_manager_full_name,director_id,director_first_name,director_last_name,director_full_name,business_unit,lob_name,site_name,tenure_group,location,location_descr,external_loc_id,external_loc_name,region,market,jobcode,current_flg,source,edp_created_dttm,edp_updated_dttm,batchid,std_year,std_month,Employee Name
0,381967,180+,381967,-986180515490,2021-10-01,2021-10-11,395446,kevin,bowers,kevin bowers,396306,nicole,paterka,nicole paterka,None,None,None,None,None,None,None,None,pss,pss-at&t,pitbulls,180+,flor,orlando,None,None,None,None,crn1125,n,aspect,2021-12-06 00:00:00.000,2021-12-06 00:00:00.000,1638808873,2021,10,moses bien-aime
1,381967,180+,381967,-986180515490,2021-10-12,2021-10-19,395446,kevin,bowers,kevin bowers,396306,nicole,paterka,nicole paterka,None,None,None,None,None,None,None,None,pss,pss-at&t,pitbulls,180+,flor,orlando,None,None,None,None,crn1125,n,aspect,2021-12-06 00:00:00.000,2021-12-06 00:00:00.000,1638808873,2021,10,moses bien-aime
2,270166,180+,270166,-988667352541,2021-10-03,2021-10-04,113148,kristen,kelly,kristen kelly,303544,anthony,rodriguez,anthony rodriguez,None,None,None,None,None,None,None,None,pss,pss-undefined,glowzilla,180+,flor,orlando,None,None,None,None,pss2010,n,aspect,2021-12-06 00:00:00.000,2021-12-06 00:00:00.000,1638808873,2021,10,jonathan freeman
3,270166,180+,270166,-988667352541,2021-10-01,2021-10-02,113148,kristen,kelly,kristen kelly,303544,anthony,rodriguez,anthony rodriguez,None,None,None,None,None,None,None,None,pss,pss-undefined,glowzilla,180+,flor,orlando,None,None,None,None,pss2010,n,aspect,2021-12-06 00:00:00.000,2021-12-06 00:00:00.000,1638808873,2021,10,jonathan freeman
4,396422,180+,396422,-979981900449,2021-10-12,2021-10-12,276497,wendy,rodriguez,wendy rodriguez,132171,shaine,hobdy,shaine hobdy,None,None,None,None,None,None,None,None,pss,pss-verizon wireless,glowzilla,180+,flor,orlando,None,None,None,None,pss1002,n,aspect,2021-12-06 00:00:00.000,2021-12-06 00:00:00.000,1638808873,2021,10,marilyn padilla-portela
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175374,568444,0-30,568444,-977831197889,2023-02-05,2023-02-22,425503,carmen,baker,carmen baker,396306,nicole,paterka,nicole paterka,303544,anthony,rodriguez,anthony rodriguez,None,None,None,None,pss,pss-verizon wireless,mustangs trn,0-30,flor,orlando,None,None,None,None,crn1119,n,aspect,2023-03-30 10:31:31.714,2023-03-30 10:31:31.714,1680172291,2023,2,michael murray
175375,552704,180+,552704,-978113116718,2023-02-01,2023-02-28,269489,gilissa,rosario,gilissa rosario,111144,lala,crawford,lala crawford,303544,anthony,rodriguez,anthony rodriguez,None,None,None,None,pss,pss-verizon wireless,mustangs,180+,flor,orlando,None,None,None,None,crn1119,n,aspect,2023-03-30 10:31:31.714,2023-03-30 10:31:31.714,1680172291,2023,2,michael harrison
175376,568671,0-30,568671,-977831198955,2023-02-01,2023-02-03,299210,giovanni,lockwood,giovanni lockwood,396306,nicole,paterka,nicole paterka,303544,anthony,rodriguez,anthony rodriguez,None,None,None,None,pss,pss-verizon wireless,mustangs trn,0-30,flor,orlando,None,None,None,None,crn1119,n,aspect,2023-03-30 10:31:31.714,2023-03-30 10:31:31.714,1680172291,2023,2,james cook
175377,568549,0-30,568549,-977831196656,2023-02-01,2023-02-04,299210,giovanni,lockwood,giovanni lockwood,396306,nicole,paterka,nicole paterka,303544,anthony,rodriguez,anthony rodriguez,None,None,None,None,pss,pss-verizon wireless,mustangs trn,0-30,flor,orlando,None,None,None,None,crn1119,n,aspect,2023-03-30 10:31:31.714,2023-03-30 10:31:31.714,1680172291,2023,2,margaux escalon smith
175378,552186,180+,552186,-978113116259,2023-02-11,2023-02-28,364165,eddie,johnson,eddie johnson,111144,lala,crawford,lala crawford,303544,anthony,rodriguez,anthony rodriguez,None,None,None,None,pss,pss-verizon wireless,mustangs,180+,flor,orlando,None,None,None,None,crn1119,n,aspect,2023-03-30 10:31:31.714,2023-03-30 10:31:31.714,1680172291,2023,2,keara philibert